#!/usr/bin/env rc
# Create /index.md for blog
# Tree format is /year/month/day/N/index.md

site = 'https://seh.dev'
motto = '# PR||GTFO'

### Header

echo $motto > index.md
echo >> index.md

### Blog body

# Ignore dir names starting with _
years = `{ls -l | grep '^d' | awk '{print $9}' | grep -v '^_' | sort -r}^/

for(y in $years){
	paths = `{du -a $y | awk '{print $2}' | grep '/index.md$' | sort -r}
	
	for(p in $paths){
		date = `{echo $p | sed 's/\/[0-9]\/index.md$//g'}
		title = `{echo '/^#/' | ed -s $p | sed 's/^# //g'}
		url = `{echo $site^'/'^$p | sed 's/index.md$//g'}
		
		echo '* '^$date^' - ['^$"title^']('^$url^')' >> index.md
	}
}

echo >> index.md

### Footer
echo '## See also:

* <https://github.com/henesy>
* <https://bitbucket.org/henesy>
* <https://gitlab.com/henesy>
* <http://postnix.pw>
' >> index.md

echo >> index.md
