#!/usr/bin/env rc
# Create /index.md for blog
# Tree format is /year/month/day/N/index.md

src = 'https://github.com/henesy/henesy.github.io'
site = 'https://seh.dev'
motto = '# PR||GTFO'
header = '<title> PR||GTFO </title>'

### Header

touch index.md
cat index.md > index.md

echo $header >> index.md

echo $motto >> index.md
echo >> index.md

### Blog body

# Ignore dir names starting with _
years = `{ls -l | grep '^d' | awk '{print $9}' | grep -v '^_' | sort -r}^/

for(y in $years){
	paths = `{du -a $y | awk '{print $2}' | grep '/index.md$' | sort -r}
	
	for(p in $paths){
		date = `{echo $p | sed 's/\/[0-9]\/index.md$//g'}
		title = `{echo '/^#/' | ed -s $p | sed 's/^# //g'}
		url = `{echo $site^'/'^$p | sed 's/index.md$//g'}
		
		echo '* '^$date^' - ['^$"title^']('^$url^')' >> index.md
	}
}

echo >> index.md

### Footer
echo '**See also**:

- <https://github.com/henesy>
- <https://bitbucket.org/henesy>
- <https://gitlab.com/henesy>
- <http://postnix.pw>

Source: <'^$src^'>

<img src="http://9front.org/img/mothracompat.gif" height="36" border="0">
' >> index.md

echo >> index.md
