#!/usr/bin/env rc
# Derived from bpst.rc from blagh werc extension

forbidden_uri_chars = '[^a-zA-Z0-9_+\-\/\.]'

umask 002 # Let group write
bpid = `{echo -n $"bpid | sed 's/'^$forbidden_uri_chars^'+/_/g; 1q'}

d=`{/bin/date +%F|sed 's,-,/,g'}
        
ddir='./'^$d
n=`{ls $ddir >[2]/dev/null |wc -l}
        
mkdir -p $ddir/$"n^$"bpid/

file = $ddir/$"n^$"bpid/index.md 
echo 'file = ' $file
touch $file
plumb $file
